body {

	background-color:#cccccc;
}
h1 {
	color:#ff5500; background-color: #000000
}
h2 {
	color:#ff5500;background-color:#000000
}
h3 {
	 color:#000000;
	 background-color:#cccccc"
}
a{
	color:#ff5500;
}

a:hover{
	background-color:#000000;
}
